{% extends "layout.html" %}

{% block title %}Home page{% endblock %}

{% block main %}

<div class="col-md-10 mx-auto col-lg-5">

  </div><div class="bg-dark text-secondary px-4 py-5 text-center">
      <div class="py-5">
          <h1 class="display-5 fw-bold text-white">⚕ : 📚 </h1>
      <h1 class="display-5 fw-bold text-white">KUMLS Biochemistry Question Book</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-5 mb-4">In this website a Questions Book is provided for Biomedical school UofK students; helping them gaining high-yield knowledge about the subject.</p>
          <div class="b-example-divider"></div>

          <div class="b-example-divider"></div>

          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/quize" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" role="button">Questions</a>
            <a href="/profile" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" role="button">Profile</a>
          </div>

        </div>
      </div>
    </div>
    <div class="p-4">
      <hr class="hr hr-blurry my-5">
    </div>

    <div class="col-xl-10 mx-auto col-lg-5 ">
      <h1 class="h1">Welcome to Khartoum University🏯</h1>
      <h5>The Top #1 University In Sudan</h5>
              <hr>

              <div class="card bg-dark text-white">
                <img src="https://images.unsplash.com/photo-1687484968232-99a658c69432?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">University of Khartoum</h5>
                  <p class="card-text">It is the largest and oldest university in Sudan. The institution is vast and contains lots of different diciplinary-leading colleges, including Medicine, Architecture and Law.</p>
                  <p class="card-text">Since 1920s</p>
                </div>
              </div>

              <div class="p-4">
                <hr class="hr hr-blurry my-5">
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h3>About the University🔖</h3>
                    <p>The University of Khartoum (U of K) is a public university located in Khartoum, Sudan. It is the largest and oldest university in Sudan. UofK was founded as Gordon Memorial College in 1902 and established in 1956 when Sudan gained independence. Since that date, the University of Khartoum has been recognized as a top university and a high-ranked academic institution in Sudan and Africa.</p>
                  </div>

                  <div class="col-sm">
                    <h3>About the Developer👩‍💻</h3>
                    <p>Hello, My Name is Mahmoud, a Second year student Biomedical student studying at University of Khartoum, and co-incidently intrested in programming. I was welling to develop this website, This is because we, the students, had such a rough time preparing for our exams for lack of testing resources. This was a significant leading cause for building such app, and I am very happy I managed to deploy it all on my own. Hope it is useful after all.</p>
                  </div>
                </div>
              </div>

              <div class="p-4">
                <hr class="hr hr-blurry my-5">
              </div>

              <h1 class="h1" >Major University Associated Colleges🏫</h1>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">College</th>
                    <th scope="col">Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Biomedical School</td>
                    <td>Soba - Khartoum</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Engineering School</td>
                    <td>Kartoum Sudan</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>School of Law</td>
                    <td>Kartoum Sudan</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Medical School</td>
                    <td>Kartoum Sudan</td>
                  </tr>
                </tbody>
              </table>


        </div>
      </div>
    </div>
</div>

</div>

{% endblock %}
